
            <form action="users/edit" >
              <button type="submit" class="btn btn-primary btn-lg my-1" >edit profile</button>
            </form>
            <%= link_to "edit", "edit", class: "dropdown-item", class: "Booking-link" %>

<div class="container">
  <%#= Div del nombre y foto de perfil  %>
  <div class = "row">
    <h2>My profile</h2>
    <div class="col-sm">
      <h3> <%= @user.username %></h3>
    </div>
    <div class="col-sm">
      <% if current_user.profilepicture.attached? %>
          <%= cl_image_tag current_user.profilepicture.key, class: "avatar" %>
      <% else %>
          <%= image_tag "https://i.imgur.com/W7RwMed.png", class: "avatar" %></div>
      <% end %>
    </div>
  </div>


  <%#= Div de los juegos de cada userl  %>
    <div class = "row">
      <h2>My games</h2>
        <div class="col-sm">
          <% if @user.videogames.exists? %>
            <% @user.videogames.each do |game|  %>
              <%= game.title  %>
              <%= game.platform  %>
            <% end %>
          <% else %>
            <p> You haven't add games yet, START NOW!</p>
            <form action="videogames/new" >
              <button type="submit" class="btn btn-primary btn-lg my-1" >New Game</button>
            </form>
          <% end %>
        </div>
    </div>


  <%#= Div de los bookings de cada user  %>
    <div class = "row">
      <h2>My Bookings</h2>
        <div class="col-sm">
          <% if @user.bookings.exists? %>
            <% @user.bookings.each do |book|  %>
              <%= book.end_date  %>
            <% end %>
          <% else %>
            <p> You haven't booking yet, START NOW!</p>
            <form action="videogames" >
              <button type="submit" class="btn btn-primary btn-lg my-1" >START!</button>
            </form>
          <% end %>
        </div>
    </div>


</div>
