<div class="container">

      <div class="card-group">
      <form action="videogames">
          <button class="btn btn-primary" type="submit" class="form-control" name="filtrop" value="play">play station</button>
          <button class="btn btn-primary" type="submit" class="form-control" name="filtrop" value="xbox">xbox</button>
          <button class="btn btn-primary" type="submit" class="form-control" name="filtrop" value ="pc">pc</button>
         <button class="btn btn-primary" type="submit" class="form-control" name="filtrop" value ="" >none</button>
      </form>

            <% if @filtro != "" %>
                  <%= @videogames.select { |game| game.platform.include?("#{@filtro}") } %>

                      <p>filtro</p>
            <% else %>
                   <p>nada</p>
            <% end %>
      </div>





  <div class="card-group mx-auto">


        <% @videogames.each do |game| %>
          <%= link_to videogame_path(game), style: "text-decoration: none;" do %>
            <div class="index-card m-2 mt-3">
                <%= cl_image_tag game.gamepicture.key, class: "card-img-top img-fluid" %>
              <div class="card-body">
                <h3> <%= game.title.titleize %> </h5>
                <h2> $<%= game.price %> COP </h2>
                <%#= link_to "Delete", videogame_path(game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
</div>
