<div class="container">
  <div class="row row row-cols-2">
        <% @videogames.each do |game| %>

            <div class="card m-1 col" style="width: 18rem;">
                <%= cl_image_tag game.gamepicture.key, class: "card-img-top img-fluid"%>
              <div class="card-body">
                <h5 class="card-title"><%= game.title %></h5>
                <p><% game.status.to_i.times do%><i class="fa-regular fa-star star-color"></i><% end %></p>
                <p class="card-text"> <%= game.description %> </p>
                <p class="card-text"><small class="text-muted"> Owner: <%= game.user_id %></small></p>
                <%#= link_to "Delete", videogame_path(game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

              </div>
              <div style="padding-bottom: 15px">
                <%= link_to "Details", videogame_path(game)%>
              </div>
          </div>
        <% end %>

  </div>
</div>
