
<div class="container">
  <div class="col-6 mx-auto">
    <div class="container">
      <h1>crear videojuego</h1>
    </div>
    <div>
      <%= simple_form_for [@videogame]  do |f| %>
        <%= f.input :title %>
        <%= f.input :price %>
        <%= f.input :condition %>
        <%= f.input :description %>
        <%= f.input :platform %>
        <%= f.input :status %>
        <%= f.submit id="Save" %>
      <% end %>
      <p></p>
    </div>
  </div>
</div>

<%= current_user.id %>
