<div class="container">

      <div class="card-group row my-2 py-2">
        <div class="show-card col-8 mt-3">
          <div>
            <%= cl_image_tag @videogame.gamepicture.key, class: "card-img-top img-fluid"%>
          </div>
          <div class="show-card-body">
            <h2 ><%= @videogame.title.titleize %></h2>
            <h4><% @videogame.status.to_i.times do%><i class="fa-regular fa-star star-color"></i><% end %></h4>
            <h4> <%= @videogame.description %> </h4>
            <h4> Platforma: <%= @videogame.platform %></h4>
            <h4> Condición: <%= @videogame.condition %></h4>

            <%#= hacer un if si esta alquilado o no  %>
            <%#= link_to "Delete", videogame_path(game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <div class="show-card-links">
              <%= link_to "Delete", videogame_path(@videogame), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <%= link_to "Edit", edit_videogame_path(@videogame) %>
              <%= link_to "Back", videogames_path %>
            </div>
          </div>
        </div>

        <div class="col-4 mt-3">
          <div class="booking-card p-3">
              <div class="my-2 d-flex justify-content-between mb-4">
                Ofrecido por   <%= @videogame.user.username %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", 'aria-haspopup': true, 'aria-expanded': false %>
              </div>
                <h2> $<%= @videogame.price %> COP </h2>

                <%= link_to 'Reservar ahora', value: 1, class: "Booking-link booking-active" %>
                <form action="videogames">
                  <button type="submit" class="Booking-link", value = 1 > <p>Reservar ahora</p></button>

                </form>
            </div>
            <div>
              <p>hola</p>
              <%= @booking.user %>
              <%= @videogame.user.username %>
            </div>
        </div>
      </div>



</div>
